body{
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-family: 'PT Sans', sans-serif;
}
a{
    text-decoration: none;
}
h2{
    margin: 0;
}
*,
::before,
::after{
    box-sizing: border-box;
}
.container{
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__top{
    background-color: black;  
}



.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 44px;
    align-items: center;
    
}
.phone,
.login{
    vertical-align: middle;
    margin-right: 15px;
}
.phone-link,
.header-info,
.header-login{
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #969696;
}
.header-info{
    margin: 0 5px;
}
.text::before{
    content: "|";
    margin-right: 10px;
}
.text::after{
    content: "|";
    margin-left: 10px;
}
.login-middle{
    margin: 0 5px;
}

@media(max-width: 800px){
    .header__top-inner{
        flex-direction: column;
        height: 120px;
        padding: 10px 0px;
    }
    .header__top-left{
        text-align: center;
    }
    .text{
        display: block;
        margin: 5px 0;
    }
}



.header__bottom{
    background-color: #0F0F0F;
}
.header__boottom-inner{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.ul-link{
    display: flex;
    list-style-type: none;
    height: 80px;
    align-items: center;
    margin: 0;
    padding: 0;
}


.nav-link{
    display: block;
    padding: 31px 20px;
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
color: #FFFFFF;
opacity: 0.7;
}
.nav-link:hover{
    opacity: 1;
    background-color: #1F1F1F;;
}

.img-link{
    padding: 0;
    margin: 0 20px;
    vertical-align: middle;
}
.img-link:hover{
    background-color: #0F0F0F;
}
/* burger */
.burger{
    display: none;
    cursor: pointer;
}
.humb{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: 0.3s;
    background-color: white;
}
.burger.active .humb:nth-child(2){
    opacity: 0;
}
.burger.active .humb:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.burger.active .humb:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
/*  */

@media(max-width: 800px){
    .ul-link{
        position: absolute;
            flex-direction: column;
             width: 100%;
            text-align: center;
            transition: 0.3s;
            left: -100%;
            top: 200px;
            height: 100%;
    }
    .burger{
        display: block;
    }
    .ul-link.active{
        padding: 10px 0px;
        left: 0;
        height: 100%;
        background-color: black;
    }
    .nav-link{
        padding: 25px 0px;
    }
    .nav-link:hover{
        background-color: black;
    }
}



/* main */
.porten{
    background: url("../image/background.jpg") no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 160px;
    padding-bottom: 150px;
    
}
.porten__block{
    border: 4px solid #FFFFFF;
    max-width: 320px;
    height: 320px;
    margin: 0 auto;
    padding: 93px 0;
}
.porten__block-img{
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.porten__block-title{
    margin: 10px 0px 0px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}
.porten__block-text{
        font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 80px auto 0 auto;
    max-width: 730px;

}

/* time */

.time{
    background-color: black;
    display: flex;
}
.time__left{
    padding-top: 93px;
    padding: 90px 0 ;
    width: 50%;
    min-width: 0;
}
.time__left-title{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 48px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}
.time__left-title::after{
    content: "";
    display: block;
    width: 120px;
    margin: 50px auto 50px auto;
    height: 1px;
    background-color: antiquewhite;
}
.swiper1{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.container-swiper{
    max-width: 260px;
    margin: 0 auto;
}
.swiper-img{
    background-color: #191B1C;
    padding: 20px;
}
.swiper-title,
.swiper-summ{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
/* light-gray */
text-align: left;
color: #D0D0D0;
}
.swiper-summ{
    margin-bottom: 40px;
}


.time__right{
    background: url("../image/background-time.jpg");
    background-size: cover;
    background-position: top center;
    width: 50%;
    padding-top: 484px;
    padding-bottom: 100px;
}
.time__right-title{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    
    /* white */
    
    color: #FFFFFF;
}

.time__right-title::after{
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    background-color: aliceblue;
    margin: 30px auto 0;
}
.time__right-link{
    display: block;
    margin: 30px auto 0 auto;
    padding: 12px 29px;
    border: 1px solid white;
    width: 138px;
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
text-align: center;
text-transform: uppercase;

/* white */

color: #FFFFFF;
}
.swiper-button-prev,
.swiper-button-next{
    display: none;
}
@media(max-width: 1900px){
    .time{
        flex-direction: column;
    }
    .time__left{
        width: 100%;
        margin: 0 auto;
    }
    .time__right{
        width: 100%;
        background-position: top left ;
    }


}


@media(max-width: 1050px){
    .swiper2{
         position: relative; 
    }
    .swiper-button-prev{
        display: inline;
        position: absolute;
    }
    .swiper-button-next{
        display: inline;
        position: absolute;
    }

}


/* collection */
.collection{
    display: flex;
}
.collection__left{
    background: url("../image/costume.jpg") no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
    max-width: 936px;
}
@media(max-width: 1900px){
    .collection{
        flex-direction: column-reverse;
    }
    .collection__left{
        max-width: 1900px;
        height: 600px;
    }
}
.collection__right{
    background-color: #0F0F0F;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 98px;
   
}
.collection__right-title{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 48px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.collection__right-title::after{
    content: "";
    display: block;
    width: 120px;
    margin: 40px auto 0;
    height: 1px;
    background-color: #FFFFFF;
}
.collection__right-text{
    max-width: 628px;
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
text-align: center;
color: #FFFFFF;
margin: 40px auto 0;
}

.collection__right-link{
    display: block;
    margin: 64px auto 0;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 12px 28px;
    max-width: 350px;
    border: 1px solid white;
}

/* new time */
.newtime{
    background-color: #000000;
    padding-top: 120px;
}
.newtime-title{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 48px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.newtime-title::after{
    content: "";
    display: block;
    width: 120px;
    margin: 40px auto 0;
    height: 1px;
    background-color: #FFFFFF;
}

.swiper2{
    margin-top: 40px;
    overflow: hidden;
}
.swiper02{
    display: flex;
    flex-wrap: wrap;
}
.container-card{
    max-width: 260px;
    margin: 0 auto;
}

.last-img{
   padding-top: 0;
   padding-bottom: 0;
   height: 304px;
   max-width: 260px;
}

.card{
    background: #191B1C;
    padding: 130px 37px;
    background: url("../image/time_3.png") no-repeat;
    background-position:  center;
    backdrop-filter: blur(10px);
}
.card-link{
    display: block;
    margin: 0 auto;
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
border: 1px solid wheat;
padding: 12px 28px;
filter: blur(0);
}

@media(max-width:920px){
    .swiper02{
        flex-wrap: nowrap;
    }
}