body{
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}
*, ::before, ::after{
    box-sizing: border-box;
}
a{
    
    text-decoration: none;
}
img{
    display: block;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}

/* header */

.header__top{
    background-color: #000000;
   
}
.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 44px;
    padding: 14px 0px;
    
}
/* header-left */
.header__top-info{
    display: flex;
    align-items: center;
  
}
.info-text{
    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #969696;
margin-left: 15px;
}
.info-text::after{
    content: "|";
    margin-left: 10px;
}
.info-last::after{
    content: "";
}

/* header__top-logout */
.header__top-logout{
    display: flex;
    align-items: center;
}
.logout-link{
    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #969696;
margin-right: 5px;
opacity: 0.8;

}
.logout-link:hover{
    opacity: 1;
}
.logout-img{
    margin-right: 20px;
}
.logout-link::after{
    content: '/';
    margin-left: 5px;
}
.last-link{
    margin-right: 0;
}
.last-link::after{
    content: "";
}

/* header__bottom */
.header__bottom{
    background-color: #0F0F0F;
    max-height: 80px;
}
.header__content{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header__nav-ul{
    display: flex;
    list-style-type: none;
    max-height: 80px;
    padding: 0px;
    margin: 0;
    /* align-items: center; */
   align-items: center;
}
.nav-link{
    display: block;
    padding: 30px 20px;
    height: 80px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.nav-link:hover{
    background: #1F1F1F;
}
.last-img-link{
    padding-right: 0px;
}
.last-car{
    padding-right: 20px;
}
.last-img-link:hover{
    background-color: #0F0F0F;
}


/* main */
.porten__content{
    background: url("../img/background-content.jpg");
    background-position: top center;
    background-size: cover;
    padding: 160px 0px;
}
.content__logo-block{
    width: 320px;
    height: 320px;
    margin: 0 auto;
    border: 4px solid #FFFFFF;
    padding: 93px 62px;
}
.content__text{
    font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
text-transform: uppercase;
color: #FFFFFF;
margin: 0;
margin-top: 10px;

}
.content__about-block{
    width: 200px;
    margin: 0 auto;
}
.content__about-block img{
    width: 185px;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}
.content__text-info{
    max-width: 730px;
    margin: 0 auto;
    margin-top: 80px;
}
.content__text-paragraph{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}